*{
    padding:0;
    font-family:arial;
    margin:0;
    border:border-box;
   

}

.navbar{
    height:60px;
    background-color:#131921;
    color:white;
    display:flex;
    align-items:center;
    justify-content: space-around;
   
}
.nav-logo{
    height:50px;
    width:110px;
}
.logo{
    background-image:url(amazon_logo.png);
    background-size: cover;
    height:50px;
    width:100%;
}
.border{
    border:2px solid transparent;

}
.border:hover{
    border:1.5px solid white;

}
/*box2*/
#adress{
    color:#cccccc;
    font-size:0.85rem;
    margin-left:15px;
}
#location{
    color:white;
    font-size: 1rem;
    margin-left:6px;
}
.icon{
    display:flex;
    align-items:center;
}
/*box3*/
.search{
    display:flex;
    height:35px;
    width:600px;
    justify-content:space-evenly;
}
#option{
    background-color: #e6e6e6;
    text-align:center;
    width:50px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border:none;
    
}
.searchicon{
    background-color:#febd68;
    width:45px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.5rem;
    color:#0f1111;
}
#input{
    width:100%;
    border:none;
    font-size:1rem;
}

/*box4*/
.language{
    display:flex;
    justify-content:center;
    align-items:center;
}
#english{
    margin-left:4px;
}
/*box5*/
#first{
    font-size:12px;
}
#second{
    font-size:14px;
}
/*box6*/
.cart{
    display:flex;
    justify-content: center;
    align-items:center
}
#jam{
    font-size:1.4rem;
}
.more:hover{
    border:2px solid #febd68;
}
/*second header*/
.sec_header{
    height:40px;
    background-color: #232f3e;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
   
   
}
.all{
  display:flex;

  font-size:14px;
}
.panel-ops p{
   display:inline-block;
   font-size:14px;
   margin-left:15px;
}
.panel-ops{
    width:75%;
}
.deals{
    font-size: larger;
    font-weight: bolder;
}
/*main*/
.hero-section{
    background-image: url(hero_image.jpg);
    height:350px;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: end;
}
.hero-msg{
    background-color: white;
    color:black;
    height:40px;
    width:95%;
   display:flex;
   justify-content:center;
   align-items:center;
   font-size:14px;
   font-weight: bold;
   position:relative;
   bottom:25px;
}
#anchor{
    color:#007185;
    text-decoration:none;
}
/*box*/
.content{
    display:flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
    
    
}
.box{
    height:400px;
    background-color: white;
    width:23%;
    padding:20px 0px 15px;
    margin-top:15px;
    margin-bottom:15px;
    
}
.box-img{
    margin-top:30px;
    height:350px;
    width:95%;
    background-size: cover;
    margin-top:0.6rem;
    margin-bottom:0.6rem;
}
.box-content{
    margin-left:1rem;
    margin-right:1rem;
}

/*FOOTER*/

.foot1{
    height: 50px;
    background-color: #37475a;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:1.1rem;
    font-weight: bold;

}
.foot2{
    background-color: #232f3e;
    height: 300px;
    color:white;
    display:flex;
    justify-content: space-evenly;
    font-size:1.2rem;
   
}
ul a{
    display:block;
    margin-top:15px;
    font-size: 1.1rem;
    color:#dddddd;
}
ul{
    margin-top:45px;
}
.base{
    font-weight: 800;
}
.foot3{
    height:70px;
    background-color: #232f3e;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}
.amzon-logo{
    width:90px;
    background-image: url(amazon_logo.png);
    background-size: cover;
    height:40px;
    margin-right:100px;
}
.lang{
    width:70px;
    display:flex;
    justify-content: center;
    border:1px solid rgb(133, 133, 133);
    padding:6px;
    border-radius: 10%;
    margin-right:5px;
}
.money{
    width:100px;
    display:flex;
    justify-content: center;
    border:1px solid rgb(134, 134, 134);
    padding:6px;
    border-radius: 10%;
    margin-right:5px;
    
}
.country{
    width:110px;
    display:flex;
    justify-content: center;
    border:1px solid rgb(129, 129, 129);
    padding:6px;
    border-radius: 10%;
}
hr{
    color:rgb(129, 129, 129);
}
.foot4{
    height:80px;
    background-color: #131a22;
    color:white;
   
}
.upper{
    height:40px;
    display:flex;
    align-items: end;
    justify-content: center;
}
.lower{
    height:40px;
    display:flex;
    align-items: start;
    justify-content: center;
}
.upper p{
  margin-right:10px;
}
